{% load static %}

<footer class="site-footer">
    <div class="site-footer__top clearfix">

<section class="region region-footer-second">
<div class="section-wrapper">
<div id="block-footercoordonnees" class="block-ft-coordonnees wow fadeIn text-center text-lg-left col-lg-5 m-auto block block-block-content block-block-content664dd42e-39e4-42c7-86ba-8ff4f338be5c">


<div class="content">

<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="content wow fadeInLeft">
<p class="ft-logo mb-5"><a href="/"><img alt="MyDrivingSchool auto-école" data-entity-type="file" height="98" src="{% static 'assets/logo.png' %}" /></a>
</p>
<div>
<p class="ft-adresse mb-2 text-secondary"><strong>MyDrivingSchool auto-moto école</strong>
</p>
<p class="ft-adresse mb-2"><a href="tel:03 86 32 55 24">03 86 32 55 24</a>
</p>
<p class="ft-horaire small">Lundi - mardi - jeudi - vendredi :
<br />
10h-12h / 15h30-18h30
<br />
Mercredi :
<br />
10h-12h / 14h30-18h30
</p>
</div>
<div class="mt-4">
<p class="ft-adresse mb-2" style="color:#00AEEF;"><strong>MyDrivingSchool auto-moto école</strong>
</p>
<p class="ft-adresse mb-2"><a href="tel:03 86 47 91 74">03 86 47 91 74</a>
</p>
<p class="ft-horaire small">Mardi - jeudi -vendredi :
<br />
10h-12h / 15h30-18h30
<br />
Mercredi :
<br />
10h-12h / 14h30-18h30
</p>
</div>
<div class="cw-follow-us-various mt-5 wow fadeIn">
<p class="cw-follow-us-various-title mb-3"><b>Suivez-nous sur les réseaux sociaux</b>
</p>
<div class="cw-follow-us-various-content"><a class="ml-lg-0" href="https://www.facebook.com/vaubanautoecole" rel="noopener" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.instagram.com/vaubanfourierautoecole/" rel="noopener" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>

</div>
</div>
<div id="block-webform" class="block-wf-contact wow fadeIn col-lg-7 m-auto block block-webform block-webform-block">

<div class="title-h2" >Envoyez un message</div>

<div class="content">

<form class="webform-submission-form webform-submission-add-form webform-submission-contact-form webform-submission-contact-add-form webform-submission-contact-node-1-form webform-submission-contact-node-1-add-form container js-webform-details-toggle webform-details-toggle antibot" data-drupal-selector="webform-submission-contact-node-1-add-form" data-action="/" action="/antibot" method="post" id="webform-submission-contact-node-1-add-form" accept-charset="UTF-8">

<noscript>
<div class="antibot-no-js antibot-message antibot-message-warning">You must have JavaScript enabled to use this form.</div>
</noscript>
<div class="mb-0 webform-flexbox js-webform-flexbox js-form-wrapper form-group" data-drupal-selector="edit-identite" id="edit-identite"><div class="webform-flex webform-flex--1"><div class="webform-flex--container">



<fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name form-no-label form-group">
<label for="edit-name" class="sr-only js-form-required form-required">Nom Prénom</label>
<input autocomplete="" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" placeholder="Nom Prénom" class="required form-control" required="required" aria-required="true" />

</fieldset>
</div></div><div class="webform-flex webform-flex--1"><div class="webform-flex--container">



<fieldset class="js-form-item js-form-type-textfield form-type-textfield js-form-item-societe form-item-societe form-no-label form-group">
<label for="edit-societe" class="sr-only">Société</label>
<input data-drupal-selector="edit-societe" type="text" id="edit-societe" name="societe" value="" size="60" maxlength="255" placeholder="Société" class="form-control" />

</fieldset>
</div></div></div>
<div class="mb-0 webform-flexbox js-webform-flexbox js-form-wrapper form-group" data-drupal-selector="edit-coordonnees" id="edit-coordonnees"><div class="webform-flex webform-flex--1"><div class="webform-flex--container">



<fieldset class="js-form-item js-form-type-email form-type-email js-form-item-email form-item-email form-no-label form-group">
<label for="edit-email" class="sr-only js-form-required form-required">Email</label>
<input data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" placeholder="Email" class="form-email required form-control" required="required" aria-required="true" />

</fieldset>
</div></div><div class="webform-flex webform-flex--1"><div class="webform-flex--container">



<fieldset class="js-form-item js-form-type-tel form-type-tel js-form-item-telephone form-item-telephone form-no-label form-group">
<label for="edit-telephone" class="sr-only js-form-required form-required">Téléphone</label>
<input minlength="10" data-drupal-selector="edit-telephone" type="tel" id="edit-telephone" name="telephone" value="" size="30" maxlength="20" placeholder="Téléphone" class="form-tel required form-control" required="required" aria-required="true" />

</fieldset>
</div></div></div>




<fieldset class="wrapcss js-form-item js-form-type-textarea form-type-textarea js-form-item-message form-item-message form-no-label form-group">
<label for="edit-message" class="sr-only js-form-required form-required">Message</label>
<div class="form-textarea-wrapper">
<textarea class="elemcss form-textarea required form-control resize-vertical" data-drupal-selector="edit-message" id="edit-message" name="message" rows="9" cols="60" placeholder="Message" required="required" aria-required="true"></textarea>
</div>

</fieldset>




<div class="js-form-item js-form-type-checkbox checkbox form-check js-form-item-acceptation-rgpd form-item-acceptation-rgpd form-no-label">
<input data-drupal-selector="edit-acceptation-rgpd" aria-describedby="edit-acceptation-rgpd--description" type="checkbox" id="edit-acceptation-rgpd" name="acceptation_rgpd" value="allow_rgpd" class="form-checkbox required form-check-input" required="required" aria-required="true">
<small class="description text-muted">
<div id="edit-acceptation-rgpd--description" class="webform-element-description">J&#39;autorise ce site &agrave; conserver l&#39;ensemble des donn&eacute;es transmises dans ce formulaire pour faciliter le suivi et le traitement de ma demande. <em>(Aucune exploitation commerciale ne sera faite des donn&eacute;es conserv&eacute;es. Voir notre&nbsp;<a href="/mentions-legales/#gestion-donnees-personnelles">politique de confidentialit&eacute;</a>)</em></div>

</small>
</div>
<div class="mb-0 form-actions webform-actions js-form-wrapper form-group" data-drupal-selector="edit-actions" id="edit-actions"><input class="webform-button--submit button button--primary js-form-submit form-submit btn btn-primary form-control" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit" name="op" value="Envoyer" />

</div>
<input data-drupal-selector="edit-antibot-key" type="hidden" name="antibot_key" value="" class="form-control" />
<input autocomplete="off" data-drupal-selector="form-dzafioxnerxbwp6nrtpet5gl0pulyvezfasnqvg8vjy" type="hidden" name="form_build_id" value="form-dzAfIoxnERxbwP6nRTPEt5Gl0pULyVezfASnqVg8VjY" class="form-control" />
<input data-drupal-selector="edit-webform-submission-contact-node-1-add-form" type="hidden" name="form_id" value="webform_submission_contact_node_1_add_form" class="form-control" />



</form>

</div>
</div>

</div>
</section>

<section class="region region-footer-third">
<div id="block-footermap" class="block-map block block-block-content block-block-contentb2f274b9-c0df-489a-bc75-991199a5b3f9">

    
<div class="content">

<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="map"><a id="footer-map-adr1"> </a><a id="footer-map-adr2"> </a>
</div>
</div>

</div>
</div>

</section>


</div>
        <div class="site-footer__bottom">
<section class="region region-footer-fifth">
<div id="block-footerinfos" class="infos-bottom block block-block-content block-block-content126908a4-83a7-420a-98ff-776a16663443">


<div class="content">

<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="container">
<div class="row text-center">
<div class="col-lg-6">
<div class="content text-lg-left">
<div><strong>MyDrivingSchool auto école à Lyon</strong>
<br /><a href="/mentions-legales">Mentions légales</a> - <a href="/sitemap">Plan du site</a> - <a href="/liens-utiles">Liens utiles</a> - <a id="tarteaucitronManager" type="button">Cookies</a>
</div>
</div>
</div>
<div class="col-lg-6 xs-mt-40 lg-mt-0 text-lg-right">
<div class="content crea">

</div>
</div>
</div>
</div>
</div>

</div>
</div>

</section>

</div>
</footer>
</div>
</div>

</div>


<script src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/js/js_jInikvy717aCFjhv34NHI99k_tHuacK1gGSPkz-IG1E.js"></script>
<script src="https://static.addtoany.com/menu/page.js"></script>

</body>
</html>