{% include 'driving_school/header.html' %}
<div class="cw-jumbotron">
    {% load static %}

    <aside class="w-100 section" role="complementary">
        <section class="region region-jumbotron">
            <div id="block-jumbotron-logo-slogan" class="jumbotron-bloc-principal block block-block-content block-block-content5a16c1c8-18de-4fec-8d92-f1366c4da0be">
                <div class="content">
                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <div class="jumbotron-bloc-principal-child-1">
                            <div class="jumbotron-logo"><a href="/"><img alt="MyDrivingSchool auto-école" class="w-50" data-entity-type="file" src="{% static 'assets/logo.png' %}" /></a>
                            </div>
                        </div>
                        <div class="jumbotron-bloc-principal-child-2">
                            <div class="jumbotron-slogan"><strong>auto école à Lyon</strong></div>
                            <div class="jumbotron-bouton-1"><a class="btn btn-primary btn-sm-240 mt-15 mb-15" href="/contactez-nous-vauban-fourier-auto-moto-ecole-a-lyon">Contactez-nous</a></div>
                            <div class="jumbotron-bouton-2"><a class="btn btn-primary btn-sm-240 mt-15 mb-15" href="https://permisdeconduire.ants.gouv.fr/" target="_blank">En savoir plus</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="block-jumbotronblocinfos" class="jumbotron-bloc-infos block block-block-content block-block-content03eaa351-11bb-4820-87e0-c6fb612f9721">
                <div class="content">
                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <div class="jumbotron-adresse col-lg-6 text-align-center"><b><span class="cw-txt-secondary text-nowrap">Auto-moto école MyDrivingSchool</span> <a class="jumbotron-telephone text-nowrap" href="tel:03 86 32 55 24">03 86 32 55 24</a></b><br /><a href="https://maps.app.goo.gl/A3KS8KXQbwbZK6sU8" id="adr1" target="_blank">10 rue d'Algerie 69000 Villeurbanne</a></div>
                        <div class="jumbotron-adresse col-lg-6 text-align-center"><b><span class="text-nowrap" style="color:#00AEEF;">Auto-moto école MyDrivingSchool</span> <a class="jumbotron-telephone text-nowrap" href="tel:03 86 47 91 74">03 86 47 91 74</a></b><br /><a href="https://maps.app.goo.gl/jJDWcrTfynjPJYEK6" id="adr2" target="_blank">10 rue d'Algerie 69000 Villeurbanne</a></div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
</header>
<div class="highlighted">
<aside class="container-fluid section clearfix" role="complementary">
    <div data-drupal-messages-fallback class="hidden"></div>
</aside>
</div>
<div class="featured-top">
<aside class="featured-top__inner section clearfix" role="complementary">
    <section class="region region-featured-top">
        <div class="views-element-container block-actualites block block-views block-views-blockactualites-block-1" id="block-views-block-actualites">
            <div class="content">
                <div class="bloc-actualites bloc-carousel cw-py-2 view view-actualites view-id-actualites view-display-id-block_1 js-view-dom-id-56ba7e6da18023f99a9c231402adc74e7ca6423f4491db3acd8d66519919b7e8">
                    <div class="view-content row">
                        <div id="views-bootstrap-actualites-block-1" class="carousel slide" data-interval="6000" data-ride="carousel" data-pause="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="cw-card">
                                        <div class="cw-card-thumb">
                                            <a href="/"><img src="{% static 'assets/actu1.png' %}">
                                                <span class="show-more">
                                                    <span class="icon"></span>
                                                    <span class="title">En savoir +</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="cw-card-summary">
                                            <div class="cw-card-date"><time datetime="2024-05-21T12:00:00Z" class="datetime">21/05/2024</time></div>
                                            <div class="cw-card-content">
                                                <div class="cw-card-title"><strong><a href="/" hreflang="fr">Passer son code en accéléré à Lyon</a></strong></div>
                                                <div class="cw-card-text"><strong>Passer son code en accéléré à Lyon </strong>avec MyDrivingSchool auto-école.
                                                    Votre<strong> auto école à Lyon</strong> vous propose de passer le code en faisant un stage d'une…</div>
                                            </div>
                                            <div class="cw-card-show"><a href="/" class="btn btn-primary">Toute l'actualité</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="cw-card">
                                        <div class="cw-card-thumb">
                                            <a href="/"><img src="{% static 'assets/actu2.jpeg' %}">
                                                <span class="show-more">
                                                    <span class="icon"></span>
                                                    <span class="title">En savoir +</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="cw-card-summary">
                                            <div class="cw-card-date"><time datetime="2024-04-18T12:00:00Z" class="datetime">18/04/2024</time></div>
                                            <div class="cw-card-content">
                                                <div class="cw-card-title"><strong><a href="/" hreflang="fr">Nouveau support de communication web</a></strong></div>
                                                <div class="cw-card-text"><strong>MyDrivingSchool auto école à Lyon </strong>vous présente son nouveau support de communication web réalisé par la société <strong>MyDrivingSchool</strong>.
                                                    Vous souhaitant une agréable…</div>
                                            </div>
                                            <div class="cw-card-show"><a href="/" class="btn btn-primary">Toute l'actualité</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
</div>





<div id="main-wrapper" class="layout-main-wrapper clearfix">
    <div id="main" class="container-fluid">
<div class="row row-offcanvas row-offcanvas-left clearfix">
<main class="main-content col" id="content" role="main">
    <section class="section">
        <a id="main-content" tabindex="-1"></a>
          <div id="block-cw-sass-bs4-page-title" class="block block-core block-page-title-block">


<div class="content">

<h1 class="title"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">MyDrivingSchool Auto-moto école</span>
</h1>


</div>
</div>
<div id="block-cw-sass-bs4-content" class="block block-system block-system-main-block">


<div class="content">


<article role="article" about="/vauban-fourier-auto-moto-ecole" typeof="schema:WebPage" class="node node--type-page node--view-mode-full clearfix">
<header>

<span property="schema:name" content="MyDrivingSchool Auto-moto école" class="rdf-meta hidden"></span>

</header>
<div class="node__content clearfix">

<div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="container-md pl-md-80 pr-md-80">
<p class="text-align-justify"><strong>MyDrivingSchool auto-moto école à Lyon</strong>, vous offre divers services liés à l’apprentissage de la conduite et à l’obtention du permis de conduire. Notre auto-école offre des cours de conduite pratique, dispensés par des instructeurs qualifiés, qui enseignent aux élèves les compétences nécessaires pour conduire en toute sécurité. Nos services s’adressent à toute personne, quel que soit son niveau en matière de conduite. 
</p>
<p class="text-align-justify">Votre auto-école à Lyon vous offre des cours de conduite, mais vous accompagne aussi dans la préparation aux examens théoriques et pratiques pour obtenir le permis de conduire. Cela peut inclure des sessions de formation en salle de classe, des supports pédagogiques ou encore des tests pratiques. 
</p>
<p class="mt-4 text-align-justify"><a href="/contactez-nous-vauban-fourier-auto-moto-ecole-a-auxerre"><b>Prenez contact dès à présent :</b> <span class="cw-txt">Auto-moto école à Lyon</span></a>.
</p>
</div>
<div class="cw-damier cw-mt">
<div class="row damier-style-one">
<div class="container-full p-0">
<div class="col-lg-6 col-txt-one">
<div class="content wow fadeInLeft">
<h2>Formations
</h2>
<p><strong>MyDrivingSchool auto-moto école, spécialiste des formations à la conduite à Lyon</strong>, fournit une formation complète et de qualité aux futurs conducteurs. Notre auto-école propose des leçons de conduite individuelles ou en groupe avec des instructeurs professionnels, qui accompagnent chaque élève dans l’apprentissage des compétences nécessaires pour conduire en toute sécurité dans différentes conditions de circulation. 
</p>
<div class="btn-dropdown text-lg-center mt-5">
<div class="dropdown btn-sm-280">
<button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">En savoir plus
</button>
<div aria-labelledby="dropdownMenuButton" class="dropdown-menu"><a class="dropdown-item" href="/">Formation auto</a> <a class="dropdown-item" href="/">Formation conduite accompagnée</a> <a class="dropdown-item" href="/">Permis boîte automatique</a> <a class="dropdown-item" href="/">Code accéléré</a> <a class="dropdown-item" href="/">Permis moto</a> <a class="dropdown-item" href="/">Formation post-permis</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-img col-img-center cw-lazy">
<div class="content">
<p><img alt="" class="img-responsive img-center" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/acc1.png" /><span class="cw-damier-element"></span>
</p>
</div>
</div>
</div>
</div>
<div class="row damier-style-two">
<div class="container-full p-0">
<div class="col-lg-6 order-lg-2 col-txt-two">
<div class="content wow fadeInRight">
<h2>Permis à 1 €
</h2>
<p><strong>MyDrivingSchool auto-moto école pour permis de conduire à Lyon</strong>, est partenaire de l’opération « Permis à 1 € ». Ce programme est proposé aux jeunes de 15 à 25 ans afin qu’il bénéficie d’un prêt à taux zéro dont le remboursement est limité à 30 € par mois. Ce dispositif permet d’avoir des leçons de conduite individuelles ainsi que des cours théoriques pour un budget mensuel maîtrisé. 
</p>
<p class="cw-damier-btn mt-5"><a class="btn btn-secondary wow fadeIn" data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="4fcfafde-a251-425d-93cb-1b43a5015111" href="/auto-ecole-pour-permis-de-conduire" title="Auto-école pour permis de conduire">Auto-école pour permis de conduire</a>
</p>
</div>
</div>
<div class="col-lg-6 order-lg-1 col-img col-img-center cw-lazy">
<div class="content">
<p><img alt="" class="img-responsive img-center" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/acc2.png" /><span class="cw-damier-element"></span>
</p>
</div>
</div>
</div>
</div>
<div class="row damier-style-three cw-bg-gradient-one parallax" style="background-image: url(https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/acc3.jpg);">
<div class="container-full p-0">
<div class="col-lg-12 justify-content-center col-txt-two">
<div class="content wow fadeIn">
<h2>Nos écoles
</h2>
<p><strong>MyDrivingSchool auto-moto école à Lyon</strong>, met à disposition de ses clients deux écoles où ils peuvent suivre les cours. Les élèves ont la possibilité de se former sur les 2 établissements, s’ils le souhaitent. Cette condition offre une flexibilité en permettant aux candidats de choisir l’emplacement le plus pratique pour eux, réduisant ainsi les efforts et le temps de déplacement. Des équipes qualifiées prennent en charge les cours dans chaque établissement.  
</p>
</div>
</div>
</div>
</div>
</div>
</div>



</div>
</article>

</div>
</div>


    </section>
</main>
                                            </div>
</div>
</div>
<div class="featured-bottom">
<aside class="clearfix" role="complementary">
<section class="region region-featured-bottom-first">
<div id="block-actiontel" class="block-call-to-action cw-pt block block-block-content block-block-contentc3994503-5275-4b23-a38e-f91809c3a4bb">
<div class="content">
    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
        <div class="container text-center wow fadeIn">
            <div class="title-h2 mt-0">Contactez-nous</div>
            <div class="cta-number"><span class="small">Vauban.</span> <span class="text-nowrap"><a href="tel:03 86 32 55 24">03 86 32 55 24</a></span><br /><span class="small">Fourier.</span> <span class="text-nowrap"><a href="tel:03 86 47 91 74">03 86 47 91 74</a></span></div>
        </div>
    </div>
</div>
</div>
<div id="block-actionbtn" class="block-call-to-action mt-3 block block-block-content block-block-content0c502c91-7db5-4100-9711-76ed1cf45cfb">
<div class="content">
    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
        <div class="container content px-30">
            <div class="justify-content-md-center text-center">
                <p class="mt-4"><a class="btn btn-primary btn-sm-280 wow fadeIn" href="/contactez-nous-vauban-fourier-auto-moto-ecole-a-auxerre">Envoyer un message</a></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="block-addtoanyblock" class="block-addtoany cw-py block block-cw-add-to-any block-cw-add-to-any-block">
<div class="content">
    <div class="container">
        <div class="title-h4">Partagez cette page </div>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_x"></a>
            <a class="a2a_button_email"></a>
        </div>
        <!-- AddToAny END -->
    </div>
</div>
</div>
</section>
<section class="region region-featured-bottom-second">
<div id="block-nosservices" class="block-forces block block-block-content block-block-content6aec26ac-7822-439a-b715-006fb9260a6b">
<div class="content">
    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
        <div class="container cw-py">
            <div class="title-h2 mt-0 mb-5 text-align-center">Nos points forts</div>
            <div class="cw-pictos justify-content-center cw-pictos-mt-legend text-uppercase">
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="Entreprise familiale" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto1.png" /></div>
                        <div>
                            <p class="picto-legende"><b>Entreprise familiale</b></p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="15 ans d'expérience" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto2.png" /></div>
                        <div>
                            <p class="picto-legende"><b>11 ans d'expérience</b></p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="Ancienneté de l'équipe" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto3.png" /></div>
                        <div>
                            <p class="picto-legende"><b>Ancienneté de l'équipe</b></p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="Conduite sur Peugeot 208" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto4.png" /></div>
                        <div>
                            <p class="picto-legende"><b>Conduite sur Peugeot 208</b></p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="Proche des lycées" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto5.png" /></div>
                        <div>
                            <p class="picto-legende"><b>Proche des lycées</b></p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="Partenaire de l'opération Permis à 1€" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto6.png" /></div>
                        <div>
                            <p class="picto-legende"><b>Partenaire de l'opération<br />"Permis à 1€ "</b></p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="Auto-école labelisée" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto7.png" /></div>
                        <div>
                            <p class="picto-legende"><b>Auto-école labelisée</b></p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeIn mt-4 mb-4">
                    <div class="picto cw-lazy m-4">
                        <div class="picto-image"><img alt="Conduite sur boîte automatique" src="https://www.autoecole-vauban-fourier.fr/sites/3044bc0224/files/picto8.png" /></div>
                        <div>
                            <p class="picto-legende"><b>Conduite sur<br />boîte automatique</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</aside>
</div>

{% include 'driving_school/footer.html' %}